{% extends 'base.html' %}

{% block header %}
About Me
{% endblock %}

{% block content %}
<div class="text-left max-w-xl">
    <ul>
        <li>
            <span class="about-heading">Work</span>
            <a href="https://www.dotdashmeredith.com/" target="_blank">
                Dotdash Meredith
            </a>
        </li>
        <li>
            <span class="about-heading">Live</span>
            Williamsburg, Brooklyn, NY
        </li>
        <li>
            <span class="about-heading">Fun</span> walking the dog, rock climbing, video games
        </li>
    </ul>
</div>
{% endblock %}
