{% extends 'base.html' %}

{% block header %}
About Me
{% endblock %}

{% block content %}
<div class="text-center max-w-prose mb-40">
    <section class="pb-4">
        <h2 class="pb-2 font-bold">
            Work
        </h2>

        {% for work_item in work %}
        <div class="about-me-card">
            <div class="work-heading">
                <div class="work-title">
                    <p class="text-xl">{{ work_item.company }}</p>
                    <p class="text-ctp-subtext0">{{ work_item.period }}</p>
                </div>
                <p class="text-sm text-ctp-subtext0">{{ work_item.position }}</p>
            </div>
            <p class="text text-ctp-subtext1">{{ work_item.description }}</p>
        </div>
        {% endfor %}
    </section>

    <section>
        <h2 class="pb-2 font-bold">
            Fun
        </h2>

        {% for fun_item in fun %}
        <div class="text-left text-ctp-rosewater my-4">
            <div class="img-container relative">
                <img
                    src={{ url_for("static", filename=fun_item.filename) }}
                    alt={{ fun_item.alt }}
                >
                <div class="img-overlay">
                    <h1 class="font-bold">{{ fun_item.title }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
