<!doctype html>
<html class="bg-ctp-surface0 text-ctp-text">
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Alexander Garcia</title>
    </head>

    <body>
        <div id="app" class="container mx-auto">
            <div class="my-4 text-center">
                <p class="text-5xl">Alexander Garcia</p>
            </div>
            <nav class="flex justify-center">
                <a class="nav-item" href={{ url_for('home') }}>Home</a>
                <a class="nav-item" href={{ url_for('about.base') }}>About</a>
                <a class="nav-item" href={{ url_for('config.base') }}>Config</a>
                <a class="nav-item" href={{ url_for('static', filename="Alexander Garcia Resume.pdf") }} target="_blank">Resume</a>
            </nav>
            <div class="flex flex-col my-4 items-center">
                <h1 class="text-center pb-4">
                    {% block header %}{% endblock %}
                </h1>
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="flex flex-row items-center justify-evenly w-40">
                <a href="https://github.com/garcia5" target="_blank">
                    <img class="footer-icon" src={{ url_for('static', filename="github.svg") }}>
                </a>
                <a href="https://www.linkedin.com/in/alexander-garcia-840a41149/" target="_blank">
                    <img class="footer-icon" stroke="black" fill="black" src={{ url_for('static', filename="linkedin.svg") }}>
                </a>
            </div>
            <p class="text-ctp-subtext0">agarcia1359 [at] gmail.com</p>
        </div>

        <script>
        function growImage(imgContainer) {
            const img = imgContainer.querySelector('.enlargable-image');
            img.classList.toggle('scale-150');
        }
        </script>
    </body>
</html>
