{% extends 'base.html' %}

{% block header %}
    <h1>Config</h1>
{% endblock %}

{% block content %}
<div class="text-left max-w-xl">
    <p>These are links to my personal configurations, updated relatively frequently</p>
    <ul class="my-4">
        {% for config in config_urls %}
        <li>
            <a href="{{ config.url }}" target="_blank" class="text-xl">{{ config.display }}</a>
            {% if config.image %}
            <img
                src={{ url_for('static', filename=config.image) }}
                alt={{ config.display }} Showcase
                class="enlargable-image pb-4"
            >
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
