{% extends 'base.html' %}

{% block header %}
Config
{% endblock %}

{% block content %}
<div class="text-left max-w-xl mb-40">
    <p>These are links to my personal configurations, updated relatively frequently</p>
    <ul class="my-4">
        {% for config in config_urls %}
        <li>
            <a href="{{ config.url }}" target="_blank" class="text-xl">{{ config.display }}</a>
            {% if config.image %}
            <div id="img-container" class="object-cover" onClick="growImage(this)">
                <img
                    src={{ url_for('static', filename=config.image) }}
                    alt={{ config.display }} Showcase
                    class="enlargable-image pb-4"
                >
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

