{% extends 'base.html' %}

{% block header %}
Home
{% endblock %}

{% block content %}
<div class="text-left max-w-xl">
    <section>
        <p>
            <b class="text-lg">Welcome!</b>
            I'm Alexander Garcia, a senior full stack software engineer based in New York, NY
        </p>
    </section>

    <section class="py-4 text-sm">
        <p>
            This site was built using:
            <a href="https://rye-up.com/" target="_blank">Rye</a>,
            <a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">Flask</a>,
            <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>,
            <a href="https://github.com/catppuccin/tailwindcss/tree/main">Catppuccin</a>
        </p>
    </section>
</div>
{% endblock %}
