@import 'tailwindcss';

@import '@catppuccin/tailwindcss/mocha.css';

@font-face {
  font-family: 'JetBrainsMono Nerd Font Mono';
  src: url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
